
header{
    height: 100px;
    width: auto;
    text-align: right;
    list-style-position: inside;
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
}
main{
    height: auto;
}

.container {
    height: 80px;
    position: relative;
    /*border: 1px solid green;*/
}
  
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

li{
    display: inline;
    margin-right: 10px;
}

.footer-left{
    display:inline-flex;
    text-align: left;
    margin-left: 0px;
    padding-left: 0px;
    margin-right: 600px;
}

.footer-right{
    display:inline-flex;
    text-align: right;  
    margin-right: 0px;
    padding-right: 0px;  
}

footer{
    height: 50px;
    width: auto;
    background-color: #f5f5f5;
    font-size: smaller;
    margin-top: 157px;
}

  /*Google Search Bar*/

  .bar{
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    width:500px;
    font-size:16px;
    outline: none;
    
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
  }
  .buttons{
    margin-top:none;
  }
  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }
  
  